
{% load crispy_forms_tags %}
{% block content %}
<div class="facts-container-1">
    <div class="facts-container-2">
        <div class="facts-container-image-1">
            <div class="image-1">
                <img class="image1" src="{{user.profile.image.url}}" style="max-width: 150px; max-height: 150px;" alt="">
            </div>
            <div class="text-1">
                <div class="fact-1-header">
                    <h2 style="font-size: 20px;">USERNAME: {{user.username}}</h2>
                </div>
                <hr>
                <div style="margin-top: 15px;">
                    <p style="font-size: 19px;">EMAIL: {{user.email}}</p> 
                    
                </div>
            </div>
        </div>
    </div>
    <div class="facts-container-image-1" style="margin-top: 2%;padding-left: 20px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>


<style>
    img{
        transition: box-shadow .3s;
    }
    img:hover{ 
        box-shadow: 0 0 20px rgba(0,0,0,.3);

    }

    .facts-container-2{
        

        background: #fff;
        

    }

    .facts-container-1{

        padding: 2rem 1.2rem;
        margin-top: 40px;
        margin-bottom: 0;
        background-color: #f2f2f2;
    }

    .facts-container-image-1{
        display: flex;
        width: 100%;
    }
    .image-1{
        position: relative;
        padding: 1.2%;
    }
    .text-1{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 2%;
        object-position: center;
    }
    .fact-1-header{
        margin-bottom: 2%;
    }

</style>      

{%endblock content%}